
.page{

	padding-top:80px;
}

.S{
	margin-left: 10px;
}
.S1{
	margin-left: 65px;
}
.S2{
	margin-left: 20px;
}
.S3{
	margin-left: 20px;
}
.SSS3{
	margin-left: 35px;
}

.S4{
	margin-left: 15px;
}
.SS{

	margin-left: 85px;
}
.SSe{

	margin-left: 70px;
}

.SS1{
	margin-left: 125px;
}
.SSS{
	margin-left: 70px;
}
.mt{

	padding-left: 40px;
}
.mt1{

	padding-left: 47px;
}
.SS2{
	margin-left: 45px;


}
.SSf {
	margin-left: 95px;
}

.SSg {
	margin-left: 77px;
}
.SSh {
	margin-left: 102px;
}

.mt2{

	padding-left: 117px;
}
.mt3{

	padding-left: 115px;
}
.mt4{

	padding-left: 117px;
}
.mt5{

	padding-left: 107px;
}
.mtx{

	padding-left: 187px;
}
.mtx1{

	padding-left: 167px;
}
.mt6{

	padding-left: 35px;
}
.SS3{
	margin-left: 35px;
}
.SSm {
	margin-left: 65px;
}

.SSv1 {
	margin-left: 52px;
}

.SSv {
	margin-left: 65px;
}

.SSm1 {
	margin-left: 42px;
}


.SSm2 {
	margin-left: 34px;
}

.SSm3 {
	margin-left: 80px;
}

.SS4{
	margin-left: 80px;
}

.SSj {
	margin-left: 60px;
}
.SSk {
	margin-left: 68px;
}
.SSl {
	margin-left: 94px;
}
.SS5{
	margin-left: 115px;
}
.SSs6{
	margin-left: 55px;
}

.SS6{
	margin-left: 40px;
}
.SSs7{
	margin-left: 45px;
}
.SS7{
	margin-left: 25px;
}

.SS8{
	margin-left: 95px;
}

.SS9{
	margin-left: 45px;
}


.SS10{
	margin-left: 80px;
}


.SS11{
	margin-left: 120px;
	}



.SS12{
	margin-left: 75px;

}

.SS13{
	margin-left: 85px;

}
.Tit{
	width: 200px;
	left:0px;
	padding-top: 40px;
	right: 40px;
}
.page p{
	padding-top: 50px;
	font-family: Lato;
	font-size: 26px;
	color: rgba(191,200,245,211);
	line-height: 25px;
	text-indent: left;
}
.BTNX{
	position: relative;
	width: 390px;
	left: 220px;
}
.page small{
	color: #000;
	font-size: 18px;
	font-family: Open-sans;
	font-weight: ;

}
.DOBX{
	width: 60px;
}
.Fot{
	text-align: center;
	background-size: cover;
	padding-top: 10px;
	background-color:transparent;
	height: 80px;

}

.Nm{
	width: 800px;
}

.In{

	line-height: 50px;
	text-indent: left;
}
.FM{
	width: 865px;
	padding-top: 0px;

	}
.Fot h4{
	font-family: Lato;

}
.imgx img {
	top:-200px lz;
}
